.container {
  padding-left: 20px;
  padding-top: 20px;
}

.tableContainer {
  width: 500px;
}


.newUserContainer {
  width: 300px
}

.errorText {
  align-self: center;
  margin: 0em 0 0.5em 0;
  padding: 0;
  color: red;
  font-style: bold;
  font-size: 0.8rem;
}